@import 'grid.less';
@import 'elements.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@font-face {
	font-family: 'VintageRegular';
	src: url('../fonts/vintage-webfont.eot');
	src: url('../fonts/vintage-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vintage-webfont.woff') format('woff'),
		url('../fonts/vintage-webfont.ttf') format('truetype'),
		url('../fonts/vintage-webfont.svg#VintageRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

body {
	background: #f8e9d1 url('../img/paper.jpg');
	font-family: Arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-family: 'VintageRegular';
	letter-spacing: 1px;
	font-size: 36px;
	text-transform: uppercase;
	.marginned();
}

h2 {
	font-family: 'VintageRegular';
	letter-spacing: 1px;
	font-size: 25px;
	text-transform: uppercase;
	color: #47562c;
	.marginned();
}

a:visited, a:link {
	color: #6d8443;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 21px;
}

.marginned() {
	margin: @gutter-width * 1px @gutter-width * 1px 0 @gutter-width * 1px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#container {
	width: (@column-width * @columns) + (@gutter-width * @columns) * 1px;
	margin: (@gutter-width * 1px) auto;
	overflow: hidden;
}

#nav {
	.column(3);
	ul {
		li {
			margin-top: @gutter-width * 1px;
			float: right;
			font-family: 'VintageRegular';
			font-size: 20px;
			text-transform: uppercase;
			a:hover {
				text-decoration:none;
				color: #88a053;
			}
		}
	}
	.gallery {
		img {
			margin-top:@gutter-width * 1px;
		}
	}
}

#content {
	.column(9);
	.rounded(10px);
	background: #fff;
	min-height:400px;
	p {
		.marginned();
	}
}

footer {
	.column(9);
	position: relative;
	font-family: Arial, sans-serif;
	font-size:11px;
	color: #3b2314;
	img.kenya-keys {
		position:absolute;
		top:@gutter-width * 1px;
		left:@gutter-width * 1px;
	}
	img.us-synthetic {
		position:absolute;
		top: (@gutter-width + 15) * 1px;
		right:@gutter-width * 1px;
	}
	p {
		text-align:center;
		line-height:12px;
		position: absolute;
		width: 280px;
		top: 30px;
		left: 154px;
	}
	a:visited, a:link, a:hover {
		color: #54311e;
	}
}

#gc {
	margin-top:-93px;
	margin-left:-217px;
	position:absolute;
	top:30%;
	left:50%;
}