@import 'grid.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;

@total-width: 100%;

body {
	background: #3b2314;
}

#gc {
	margin-top:-93px;
	margin-left:-217px;
	position:absolute;
	top:50%;
	left:50%;
}