@import 'grid.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;

@total-width: 100%;

body {
	background: #f8e9d1 url('../img/paper.jpg');
}

#gc {
	margin-top:-93px;
	margin-left:-217px;
	position:absolute;
	top:30%;
	left:50%;
}